@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  height: 6px; /* Chiều cao thanh scrollbar ngang */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Màu nhạt */
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f5f5f5;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

/* Bỏ mũi tên 2 bên */
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}
